* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.main-nav{
    display:flex;
}
li{
    list-style:none;
}

.logo {
    width:35%;
    justify-content: center;
    align-items:center;
    border:2px;
    border-radius:50px;
}

.list{
    display:flex;
    
}

.list li a{
    text-decoration:none;
    width:50%;
}

.right-nav{
    text-align:right;
}